
.bill__info {
    width: 75%;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
}

.bill__info-header {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin: 0px 0px 12px;
}

.bill__info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    background-color: rgb(244, 244, 244);
}

.info__title-list {
    cursor: pointer;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.info__title-item {
    width: 16.6667%;
    padding: 12px 0px;
    text-align: center;
    color: rgb(128, 128, 137);
    border-bottom: none;
}

.info__title-item-active {
    width: 16.6667%;
    padding: 12px 0px;
    text-align: center;
    color: rgb(13, 92, 182);
    border-bottom: 2px solid rgb(13, 92, 182);
}

.info__search {
    width: 100%;
    position: relative;
    margin: 12px 0px;
}

.info__search-input {
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 40px;
    line-height: 20px;
    outline: none;
    flex: 1 1 0%;
    border: 1px solid rgb(196, 196, 207);
}

.info__search-icon  {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.info__bill-list {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 20px;
    padding: 16px;
}

.info__bill-item {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid rgb(235, 235, 240); */
    padding-bottom: 12px;
    color: rgb(128, 128, 137);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.bill__item-content {
    cursor: pointer;
}

.bill__item-product {
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.bill__item-detail {
    display: flex;
}

.bill__item-img {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    border: 0.5px solid rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center center;
    position: relative;
}

.bill__item-info {
    margin: 0px 12px;
    display: flex;
    flex-direction: column;
}
.bill__item-info p {
    margin-bottom: 6px;
}

.bill__item-price {
    min-width: 120px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
}
.bill__item-price span {
    color: rgb(56, 56, 61);
    font-size: 14px;
    font-weight: 400;
}

.info__bill-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 12px;
    width: 100%;
}

.info__bill-money {
    font-size: 17px;
    display: flex;
    margin-bottom: 12px;
}

.money-title {
    font-weight: 300;
    color: rgb(128, 128, 137);
    margin-right: 8px;
}

.money-total {
    font-weight: 400;
    color: rgb(56, 56, 61)
}

.btn-buy-again {
    min-width: 124px;
    width: 170px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin: 15px 20px 15px 20px;
    border: none;
    font-size: 16px;   
}


@media (max-width: 739px) {
    .bill__info {
        width: 100%;
        margin-left: 6px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .bill__info {
        width: 100%;
        margin-left: 6px;
        display: flex;
        flex-direction: column;
    }
}